*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  background: black;
  color: white;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-100%);
  color: red;
  font-size: 3rem;
  text-decoration: underline;
  letter-spacing: 10px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #547289;
  transition: all ease .4s;
}
.navbar *{
  color: white;
  text-decoration: none;
  font-family: monospace;
  letter-spacing:7px;
  font-weight: normal;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
}
.btn-container button{
  padding: 10px;
   border-radius: 15px;
   border: none;
   font-family: fantasy;
}
.route{
  text-decoration: none;
}