@import url('https://fonts.googleapis.com/css2?family=Asset&family=Bebas+Neue&family=Blaka+Ink&family=Boldonse&family=Limelight&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Notable&family=Poller+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&family=UnifrakturMaguntia&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #000;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'syne';
  font-weight: 800;
  letter-spacing: 2px;
}

body::before {
  content: '';
  position: fixed;
  inset: -40px;
  background-image:
    linear-gradient(#4b569434 1px, transparent 1px),
    linear-gradient(90deg, #7288ae0d 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: 0;
  animation: gridMove 1s linear infinite;
}

@keyframes gridMove {
  from {
    background-position: 0 0, 0 0;
  }

  to {
    background-position: 0 40px, 0 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  user-select: none;
  justify-content: space-around;
  height: 70vh;
  width: 30vw;
  padding: 10px;
  border: #000;
  box-shadow: 1px 1px 7px white;
  border-radius: 20px;
  backdrop-filter: blur(1px);
}

.form .form-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
}

.form-fields button {
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 4px 3px;
}

.form h2 {
  color: transparent;
  text-align: center;
  font-weight: 900;
  -webkit-text-stroke: 1px red;
}

input {
  width: 90%;
  border-radius: 10px;
  padding: 4px 3px;
}

span {
  white-space: nowrap;
}

span:nth-of-type(1) {
  margin: 0 auto;
  color: rgb(243, 16, 16);

}

span:nth-of-type(2) {
  color: rgb(49, 139, 248);
}

.user-data {
  width: 90vw;
  max-height: 80vh;
  /* overflow-y: auto; */
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 5px lightseagreen, -1px -1px 10px lightseagreen;
  background: #3535351c;
  backdrop-filter: blur(3px);
  padding: 10px;
}

.user-data table {
  user-select: none;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  color: white;
  text-align: center;
  scale: .97;
}

.user-data thead {
  position: sticky;
  top: 0;
}

.user-data th {
  background: darkslategrey;
  padding: 15px;
  font-size: 18px;
  letter-spacing: 1px;
}

.user-data td {
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.user-data tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}

.user-data tbody tr:hover {
  background: rgba(32, 178, 171, 0.2);
  transition: 0.3s;
}

.user-data::-webkit-scrollbar {
  width: 8px;
}

.user-data::-webkit-scrollbar-thumb {
  background: lightseagreen;
  border-radius: 10px;
}